<style>
  body{
    background: linear-gradient(
      rgba(0,0,0,0.7),
      rgba(0,0,0,0.7)
    ), 
    url("/bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  h2{
    color: white;
  }
  .container-index {
    margin-right: 15%;
    margin-left: 15%;
    font-weight: bold;
  }
  .text{
    color: white;
    font-weight: bold;
  }
  .footer-links {
    text-align: center;
    color: white;
    margin-top: 30%;
    font-size: 75%;
  }
  .panel-transparent {
        background: none;
    }

    .panel-transparent .panel-heading{
        background: rgba(122, 130, 136, 0.2)!important;
    }

    .panel-transparent .panel-body{
        background: rgba(46, 51, 56, 0.5)!important;
    }
</style>

<div class="container-index row">
  <div class="col-sm-12" style="text-align:center">
    <div class="panel panel-default panel-transparent">
      <div class="panel-body">
        <p class="text">Hello <%= @resource.email %>!</p>

        <p>Someone has requested a link to change your password. You can do this through the link below.</p>
        
        <p class="text"><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token), class:"btn btn-primary", style:"margin-top:1em"  %></p>
        
        <p class="text">If you didn't request this, please ignore this email.</p>
        <p class="text">Your password won't change until you access the link above and create a new one.</p>
      </div>
    </div>
    
  <div class="col-sm-12">
    <p class="footer-links">This site is for educational purpose only. Contact creator at quangwdang@gmail.com for more information.</p>
  </div>
</div>